In [1]:
import findspark
findspark.init()
findspark.find()

'f:\\AppSSD\\WorkTools\\Anaconda\\envs\\sparkimental\\lib\\site-packages\\pyspark'

In [2]:
import pyspark
from pyspark import SparkContext
sc =SparkContext()

In [3]:
sc.version

'3.1.2'

In [4]:
nums= sc.parallelize([1,2,3,4])

In [5]:
nums.take(1)

[1]

In [6]:
squared = nums.map(lambda x: x*x).collect()
for num in squared:
    print('%i ' % (num))

1
4
9
16

In [7]:
# from sqlite3 import Row
from pyspark.sql import Row
from pyspark.sql import SQLContext

sqlContext = SQLContext(sc)

list_p = [('John',19),('Smith',29),('Adam',35),('Henry',50)]
rdd = sc.parallelize(list_p)
ppl =rdd.map(lambda x: Row(name=x[0], age=int(x[1])))
DF_ppl = sqlContext.createDataFrame(ppl)

In [8]:
DF_ppl.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)